__pycache__/charts.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/weather_api.cpython-313.pyc
__pycache__/trail_db.cpython-313.pyc
data/__pycache__/weatherData_decoded.cpython-313.pyc
.gitignore
__pycache__/gpx_upload.cpython-313.pyc
__pycache__/map_builder.cpython-313.pyc
__pycache__/elevation_utils.cpython-313.pyc
.cache/
.DS_Store
.cache.sqlite
.cache.sqlite
:etc:nginx:sites-available:streamlit
.cache.sqlite
.DS_Store
.venv/